<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false"
      throwConfigExceptions="true"
      internalLogLevel="Off"
      internalLogFile="D:\Xsis\XsisProfileProject\PersonalProfile\Logs\internal-nlog.txt">

  <targets>
    <!-- write logs to file  -->
    <target name="file" xsi:type="File"  layout="                
    -----------Time Stamp: ${longdate}---------- ${newline}                
    Log Level: ${level}${newline}                           
    Logger Name : ${logger}${newline}                
    Log Message : ${message}${newline}" 
    fileName="D:\Xsis\XsisProfileProject\PersonalProfile\Logs\${shortdate}_logfile.log" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="file" enabled="true" />
    <logger name="*" minlevel="Debug" writeTo="file" enabled="true" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
  </rules>
</nlog>